<div class="job">
    <h5>
        {% if job.company_url is defined %}<a href="{{ job.company_url }}">{% endif %}
            {{ job.company }}
        {% if job.company_url is defined %}</a>{% endif %}
        &nbsp;-&nbsp;<span class="date">{{ job.period }}</span></h5>
    <strong>{{ job.title }}</strong>
    <div class="description">{{ job.description|paragraph }}</div>
</div>
